/nbproject/private/
/build/
/dist/
/biocore-ihis/Samrt Registration/dist/
/nbproject/
/Extractor/New/EXTRACTOR_v2/build/
/Extractor/New/EXTRACTOR_v2/dist/
/Extractor/New/EXTRACTOR_v2/nbproject/private/
/Extractor/Old/EXTRACTOR_v2 25th may 2017/build/
/Extractor/Old/EXTRACTOR_v2 25th may 2017/dist/
/Extractor/Old/EXTRACTOR_v2 25th may 2017/nbproject/private/
/Extractor/Old/EXTRACTOR_v2 30th may 2017/build/
/Extractor/Old/EXTRACTOR_v2 30th may 2017/dist/
/Extractor/Old/EXTRACTOR_v2 30th may 2017/nbproject/private/
/Extractor/Old/iHiS_EHR_Extractor_Apps-master 1st may 2017/build/
/Extractor/Old/iHiS_EHR_Extractor_Apps-master 1st may 2017/dist/
/Extractor/Old/iHiS_EHR_Extractor_Apps-master 1st may 2017/nbproject/private/
/biocore-ihis/ADT/ADT/build/
/biocore-ihis/ADT/ADT/dist/
/biocore-ihis/ADT/ADT/nbproject/private/
/biocore-ihis/Billing/eBilling/nbproject/private/
/biocore-ihis/CISS/build/
/biocore-ihis/CISS/nbproject/private/
/biocore-ihis/Samrt Registration/build/
/biocore-ihis/Samrt Registration/nbproject/private/
/biocore-ihis/createOrder/build/
/biocore-ihis/createOrder/dist/
/biocore-ihis/createOrder/nbproject/private/
/biocore-ihis/iHIS_Report/build/
/biocore-ihis/iHIS_Report/nbproject/private/
/biocore-ihis/iHiS_EHR_Extractor_Apps-master/build/
/biocore-ihis/iHiS_EHR_Extractor_Apps-master/dist/
/biocore-ihis/iHiS_EHR_Extractor_Apps-master/nbproject/private/
/separatorV2/build/
/separatorV2/dist/
/separatorV2/nbproject/private/